[submodule "targets/apps/VAmPI"]
	path = targets/apps/VAmPI
	url = https://github.com/erev0s/VAmPI
[submodule "targets/AWSGoat"]
	path = targets/AWSGoat
	url = https://github.com/ine-labs/AWSGoat
[submodule "targets/kubernetes-goat"]
	path = targets/kubernetes-goat
	url = https://github.com/madhuakula/kubernetes-goat
[submodule "targets/web/VAmPI"]
	path = targets/web/VAmPI
	url = https://github.com/erev0s/VAmPI
